{
    "prefix": "test.",
    "interval": 10,
    "defaultDimensions": {
        "application": "fullerite",
        "host": "dev33-devc"
    },
    "fulleritePort": 19191,

    "diamondCollectorsPath": "src/diamond/collectors",
    "diamondCollectors": {
        "CPUCollector": {"interval": 10},
        "PingCollector": {"target_google": "google.com", "interval": 10, "bin": "/sbin/ping"}
    },

    "collectors": {
        "Test": {
            "metricName": "TestMetric",
            "interval": 10
        },
        "Diamond":{
            "port": "19191",
            "interval": 10
        },
        "Fullerite":{
        }
    },

    "handlers": {
        "Graphite": {
            "server": "10.40.11.51",
            "port": "2003",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2
        },
        "Kairos": {
            "server": "localhost",
            "port": "8080",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2,
            "defaultDimensions": {
              "runtimeenv":"dev",
              "superregion": "norcal-dev",
              "region": "uswest1-dev",
              "ecosystem": "devc",
              "habitat":"uswest1devc"
            }
        },
        "SignalFx": {
            "authToken": "secret_token",
            "endpoint": "https://ingest.signalfx.com/v2/datapoint",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2,
            "maxIdleConnectionsPerHost": 2,
            "keepAliveInterval": 30
        },
        "Datadog": {
            "apiKey": "secret_key",
            "endpoint": "https://app.datadoghq.com/api/v1",
            "interval": 10,
            "max_buffer_size": 300,
            "timeout": 2
        }
    }
}
