{
    "prefix": "test.",
    "interval": 10,
    "defaultConfig": {
        "prefix":"fullerite"
    },
    "defaultDimensions": {
        "application": "fullerite",
        "host": "dev33-devc"
    },
    "fulleritePort": 19191,
    "internalServer": {"port":"29090","path":"/metrics"},
    "collectorsConfigPath": "/etc/fullerite/conf.d",
    "diamondCollectorsPath": "src/diamond/collectors",
    "diamondCollectors": [ "CPUCollector", "PingCollector" ]
    },

    "collectors": ["Test", "Diamond", "Fullerite", "DockerStats"],

    "handlers": {
        "Graphite": {
            "server": "10.40.11.51",
            "port": "2003",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2
        },
        "Kairos": {
            "server": "localhost",
            "port": "8080",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2,
            "defaultDimensions": {
              "runtimeenv":"dev",
              "superregion": "norcal-dev",
              "region": "uswest1-dev",
              "ecosystem": "devc",
              "habitat":"uswest1devc"
            },
        "collectorBlackList" : ["Test"]
        },
        "SignalFx": {
            "authToken": "secret_token",
            "endpoint": "https://ingest.signalfx.com/v2/datapoint",
            "interval": "10",
            "max_buffer_size": 300,
            "timeout": 2,
            "maxIdleConnectionsPerHost": 2,
            "keepAliveInterval": 30,

            // If the following dimension exists,
            // then batch and emit it separately to Sfx
            "batchByDimension": "some_dimension_name",

            // When emitting batches made from "batchByDimension"
            // config, use the following auth tokens
            // instead of default
            "perBatchAuthToken": {
              "some_dimension_value_A": "secret_token_A",
              "some_dimension_value_B"": "secret_token_B",
            }
        },
        "Datadog": {
            "apiKey": "secret_key",
            "endpoint": "https://app.datadoghq.com/api/v1",
            "interval": 10,
            "max_buffer_size": 300,
            "timeout": 2
        },
        "Scribe": {
            "port": 1463,
            "collectorWhiteList": ["DockerStats"],
            "streamName": "fullerite_to_scribe",
            "defaultDimensions": {
                "region": "uswest1-devc",
                "habitat": "devc",
                "ecosystem": "devc"
            }
        }
	"Wavefront": {
            "apiKey": "secret_key",
            "endpoint": "https://longboard.wavefront.com/report?f=graphite_v2",
            "proxyServer": "internal-wavefront-elb-prod-194733904.us-west-2.elb.amazonaws.com"
            "port": 2878
            "proxyFlag": "true"
            "interval": 5,
            "max_buffer_size": 300,
            "timeout": 2
        }
    }
}

